<% provide :title, t("home.title") %>
<div class="center jumbotron">
	<h1><%= t "home.header" %></h1>
	<h2>
		<%= t "home.contents.part1" %>
		<%= link_to t("home.contents.link"), Settings.link.rails_home_link %>.
		<%= t "home.contents.part2" %>
	</h2>
	<%= link_to t("home.contents.signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
