<h1><%= t "users.reset.subject" %></h1>
<p><%= t "users.reset.intro" %></p>
<%= link_to t("users.reset.title"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "users.reset.expire" %></p>
<p><%= t "users.reset.ignore" %></p>
